.bg-theme2 {
    background-color: #086AD8;
}

.controls {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
}


.btn,
.btn:active,
.btn:focus,
.btn:hover {
    border: none !important;

}

.custom-footer {
    background-color: #343a40;
    /* Cambia el color aquí */
}

.footer .list-inline-item a {
    color: #ffffff;
    /* Cambia a tu color preferido */
}

.showcase-img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    /* Para asegurar que la imagen no sobresalga */
}

#showC.showcase-img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media (max-width: 991px) {
    .showcase-img {
        border-radius: 30px !important;
        margin: 0 !important;
    }

    /* Aplica la clase rounded de Bootstrap */
    .showcase-img-wrapper {
        padding: 0 20px !important;
    }
}

button {
    margin: 5px;
}