@charset "UTF-8";

.bg-theme2 {
  background-color: #086ad8;
}

.controls {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.btn,
.btn:active,
.btn:focus,
.btn:hover {
  border: none !important;
}

.custom-footer {
  background-color: #343a40;
  /* Cambia el color aquí */
}

.footer .list-inline-item a {
  color: #ffffff;
  /* Cambia a tu color preferido */
}

#showB.showcase-img {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.showcase-img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow-x: hidden;
  opacity: 0;
}

@keyframes entrar {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.entrar-salir {
  animation: entrar 3s ease forwards;
}

@keyframes entrar2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.entrar-salir2 {
  animation: entrar2 3s ease forwards;
}

/* Animación inversa */
@keyframes entrarInverse {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.entrar-salir-inverse {
  animation: entrarInverse 3s ease forwards;
}

@keyframes entrar2Inverse {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.entrar-salir2-inverse {
  animation: entrar2Inverse 3s ease forwards;
}

.animating {
  pointer-events: none; /* Desactiva los eventos mientras la animación se está ejecutando */
}

@media (max-width: 991px) {
  .showcase-img {
    border-radius: 30px !important;
    margin: 0 !important;
  }

  /* Aplica la clase rounded de Bootstrap */
  .showcase-img-wrapper {
    padding: 0 20px !important;
  }
}

button {
  margin: 5px;
}
